.parent1{
    width:100%;
    height:700px;
    position: relative;
    font-family: sans-serif;
}

.heading{
    width:100px;
    height:100px;
    position: absolute;
    top: 125px;
    left: 300px;
    font-size: 55px;
    font-weight:bold;
}

.format{
    font-family: Heebo, sans-serif;
    width:100px;
    height:100px;
    position: absolute;
    top: 118px;
    left: 460px; 
    font-size: 55px;
    font-weight: 0px;
    opacity: 0.5;
    font-weight: thin;
}

.btn{
    width: 50px;
    height:50px;
    position: absolute;
    top: 145px;
    left: 815px;
    color:orangered;
}

.newList{
    color: gray;
}

.text{
    font-family: Heebo, sans-serif;
    width: 150px;
    height:75px;
    position: absolute;
    top: 137px;
    left: 850px;
    font-size: 35px;
    opacity: 0.8;
}

.box1{
    width: 175px;
    height: 250px;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 35px;
    position: absolute;
    top: 225px;
    left: 300px;
    box-shadow: 2px 2px 5px #222;
    float: right;
}

.triptoparis{
    margin-left:30px;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}

.mytodolist{
    margin-left:25px;
    border-bottom: 1px solid gray;
    color:orangered;
    padding-bottom: 8px;

}

.completedtask{
    margin-left:25px;

}

input[type=checkbox] {
    margin-left: 8px;
    margin-right: 6px;
    font-size: 54px;
}

.box2{
    width: 175px;
    height: 250px;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 35px;
    box-shadow: 2px 2px 5px #222;
    position: absolute;
    top: 225px;
    left: 555px;
}

.box3{
    width: 175px;
    height: 250px;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 35px;
    box-shadow: 2px 2px 5px rgb(10, 10, 10);
    position: absolute;
    top: 225px;
    left: 810px;
}

.parent2{
    width: 100%;
    height: 750px;
    position: relative;
}

.paris{
    width: 100%;
    height: 100px;
    font-size: 40px;
    position: absolute;
    top: 25px;
    left: 200px;
    opacity: 0.5;
}

span:after,
span:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

a{
    text-decoration:none;
    color: orangered;
}

del{
    color:orangered;
}

.btn2{
    position: absolute;
    top: 145px;
    left: 570px;
    color: orangered;
}

.back{
    position: absolute;
    top: 140px;
    left: 610px;
    font-size: 36px;
}

.box4{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 35px;
    
    box-shadow: 2px 2px 5px #222;
    position: absolute;
    top: 250px;
    left: 475px;
}


.icon{
    position:absolute;
    top: 540px;
    left: 730px;
    color: orangered;
}

.textarea{
    margin-top: 5px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid red;
}

.task{
    float:left;
    margin: 5px 0px;
    padding-left: -100px;
}

.label{
    float:right;
    /* margin: 5px 0px; */
}